/* =================
	Colors & Variables
================= */
:root {
	--primary: #0f421e;
	--primary-heavy: #0F2210;
	--background-color: #0f100f;
	--scrollbar-colors: var(--primary) var(--background-color);
	--hero-filter: sepia(70%) hue-rotate(75deg) contrast(110%) saturate(130%);
	--hero-text-bg: white;

	--background-gradient: 
		conic-gradient(
			from -90deg at left bottom,
			oklch(19.443% 0.05179 151.459 / 0.6),
			oklch(21.553% 0.05581 145.667 / 0.8),
			oklch(0% 0 0 / 0.85),
			oklch(8.874% 0.01568 144.143 / 0.9),
			oklch(19.443% 0.05179 151.459 / 0.6)
			),
		url("../assets/noise.svg");
	

	--hero-text-gradient:
		conic-gradient(
				from -90deg at left top,
				oklch(100% 0.00011 271.152 / 0),
				oklch(44.226% 0.00005 271.152 / 0.2),
				oklch(89.449% 0.0001 271.152),
				oklch(44.226% 0.00005 271.152 / 0.2),
				oklch(44.226% 0.00005 271.152 / 0.2)
			),
		url("../assets/noise.svg");
}

@media (prefers-color-scheme: light) {
	:root {
		--primary: #0f421e;
		--primary-heavy: #92d896;
		--background-color: #e0e8dc;
		--scrollbar-colors: var(--primary) var(--background-color);
		--hero-filter: sepia(75%) hue-rotate(75deg) brightness(130%) contrast(110%) saturate(130%) invert(100%) hue-rotate(180deg);
		--hero-text-bg: black;
		--background-gradient:
			conic-gradient(
				from -90deg at left,
				oklch(78.758% 0.09549 153.265 / 0.6),
				oklch(41.539% 0.11377 144.757 / 0.8),
				oklch(100% 0.00011 271.152 / 0.45),
				oklch(79.318% 0.03535 145.351 / 0.5),
				oklch(78.758% 0.09549 153.265 / 0.6)
			),
			url("../assets/noise.svg");
	}
}



/* =================
	General Selectors
================= */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

html {
	color-scheme: dark light;
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-colors);
}

body {
	min-height: 100dvh;
	
	font-family: "Cousine", monospace;
	line-height: 1.6;
	font-size: 1.125rem;
	
	background: var(--background-color);
	background: var(--background-gradient);
}

/* =================
	Typography
================= */

.hero-text{
	position: relative;
	z-index: 2;
	color: black;
	letter-spacing: 0.05em;
	text-shadow: -1px 1px 5px rgb(255, 255, 255, 0.8);
	line-height: 1.2;
}

.hero-text-title {
	font-size: 2.5rem;
	font-weight: 700;
}


.hero-text-subtitle {
	font-size: 1.25rem;
	font-weight: 400;
	width: 100%;
	text-align: right;
}


/* =================
	Layout
================= */

main {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.container {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.hero {
	position: relative;
	width: 100%;

	max-height: 100vh;
	height: 100vh;
	/* aspect-ratio: 16 / 9; */

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-transform: uppercase;

	/* Have to keep this filter here to get the look I want as without it, the exclusion blending mode breaks the color*/
	filter: var(--hero-filter);
}

.hero-text-container{
	position: relative;
	z-index: 1;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.2rem;
	text-align: left;
	padding: 0.3rem 0.75rem;

	background: var(--hero-text-bg);
	background: var(--hero-text-gradient);
	
	mix-blend-mode: exclusion;

	border-right: 5px solid rgb(127, 127, 127);
	border-bottom: 5px solid rgb(74, 74, 74);
	box-shadow: -5px 5px #2a2a2a;

}

.hero-text-container::after{
	content: "";
	position: absolute;
	z-index: 3;
	top: -0.5rem;
	right: 0.35rem;
	width: 81.5%;
	height: 100%;
	background-color: rgb(255, 255, 255);
	mix-blend-mode: exclusion;
	pointer-events: none;

	transform-origin: left;
  	transform: scaleX(0);
  	transition: transform 2s ease;
	transition-delay: 1s;
}

.hero-text-inverse{
	background-color: black;
	color: white;
	padding: 0.1rem 0.3rem;
}

.glitched-asset-container,
.glitched-asset,
.glitched-asset-container canvas,
.glitch-placeholder-container,
.glitch-placeholder{
	position: absolute;
	inset: 0;
	z-index: 0;
	pointer-events: none;
}

.glitched-asset-container{
	filter: drop-shadow(16px 16px 20px blue);
	opacity: 0; 
	box-shadow: 
		0px 1px 5px #0f100f,
		0px 2px 10px #0f100f,
		0px 5px 10px #0f100f,
		0px 7px 20px oklch(22.97% 0.0423 145.196 / 0.9),
		0px 15px 55px oklch(35.545% 0.08218 117.335 / 0.8);
	transition: opacity 1000ms ease-in, box-shadow 2000ms ease;
}

.glitched-asset,
.glitched-asset-container canvas,
.glitch-placeholder{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
}

.glitched-asset-container.is-ready{
  	opacity: 1;  
}

.glitch-placeholder{
	opacity: 0; 
  	animation: fade 2s forwards;
	animation-delay: 1s;
}

/* =================
	Animations
================= */

.fade-in {
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 2s ease, transform 5s ease;
}

.fade-in.is-visible {
	opacity: 1;
	transform: translateY(0);
}

.hero-text-inverse.is-visible,
.hero-text-container.fade-in.is-visible::after {
	transform: scaleX(1);
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* =================
	Media Queries
================= */


@media (max-width: 50rem) {

	.container {
		width: 90%;
	}

	.hero-text-container{
		padding: 0.1rem 0.3rem;
		border-right: 3px solid rgb(127, 127, 127);
		border-bottom: 3px solid rgb(74, 74, 74);
	}

	.hero-text-container::after{
		top: -0.25rem;
		right: 0.25rem;
		width: 81.5%;
		height: 100%;
	}

	.hero {
		aspect-ratio: 5 / 3;
	}

	.hero-text-title {
		font-size: 1.25rem;
	}

	.hero-text-subtitle {
		font-size: 0.8rem;
	}
}