*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}


img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

html {
	color-scheme: dark light;
	scrollbar-width: thin;
	scrollbar-color: rgb(59, 59, 59) #181818;
}

body {
	min-height: 100dvh;
	background: #0b0b0f;
	font-family: monospace;
}

main {
	min-height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.hero {
	position: relative;
	width: 100%;
	aspect-ratio: 16 / 5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-transform: uppercase;

	/* NEED TO REPLACE THIS AND BAKE IT IN */
	filter: grayscale(700%) sepia(100%) hue-rotate(90deg);
}

.hero-text-container{
	position: relative;
	z-index: 1;
	
	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: white;
	padding: 0.3rem 0.55rem;

	mix-blend-mode: difference;

	border-right: 5px solid rgb(127, 127, 127);
	border-bottom: 5px solid rgb(44, 44, 44);
}

.hero-text-container::after{
	content: "";
	position: absolute;
	z-index: 3;
	top: -0.6rem;
	right: 0.25rem;
	width: 26.5rem;
	height: 103%;
	background-color: rgb(255, 255, 255);
	mix-blend-mode: difference;
	pointer-events: none;
}

.hero-text{
	position: relative;
	z-index: 2;
	color: black;
	text-align: left;
	letter-spacing: 0.05em;
	text-shadow: 1px 1px 10px rgb(0, 0, 0);
	min-width: fit-content;
}

.hero-text-title {
	font-size: 3rem;
	font-weight: 900;
	padding-left: 5rem;
}


.hero-text-subtitle {
	font-size: 1.5rem;
	font-weight: 600;
	width: 100%;
	text-align: right;
}

.hero-text-inverse{
	background-color: black;
	color: white;
	padding: 0.1rem 0.3rem;
}

.glitched-asset{
	position: absolute;
	inset: 0;
	z-index: 0;

	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
}


@media (max-width: 50rem) {

	.hero-text-container{
		padding: 0.1rem 0.3rem;

		border-right: 3px solid rgb(127, 127, 127);
		border-bottom: 3px solid rgb(44, 44, 44);
	}

	.hero-text-container::after{
		top: -0.6rem;
		right: 0.25rem;
		width: 13.5rem;
		height: 115%;
	}

	.hero {
		aspect-ratio: 5 / 3;
	}

	.hero-text-title {
		font-size: 1.25rem;
		padding-left: 0.5rem;
	}

	.hero-text-subtitle {
		font-size: 0.8rem;
	}
}