*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}


img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

html {
	color-scheme: dark light;
	scrollbar-width: thin;
	scrollbar-color: rgb(59, 59, 59) #181818;
}

body {
	min-height: 100dvh;
	background: #020502;
	font-family: "Cousine", "Google Sans Code", monospace;

	background:
	/* linear-gradient(
		10deg,
		rgba(0, 7, 2, 0.6),
		rgb(4, 14, 9, 0.9),
		rgba(8, 26, 4, 0.9)
	), */
	conic-gradient(
		from -90deg at left,
		rgba(0, 27, 8, 0.6),
		rgba(5, 32, 8, 0.9),
		rgba(0, 0, 0, 0.8),
		rgba(1, 3, 1, 0.9),
		rgba(0, 27, 8, 0.6)
	),
	url("../assets/noise.svg");
	
}

main {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.hero {
	position: relative;
	width: 100%;

	max-height: 100vh;
	/* overflow: hidden; */
	
	aspect-ratio: 16 / 9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-transform: uppercase;

	padding: 0 0.5rem;
	padding-left: 5rem;

	/* NEED TO REPLACE THIS AND BAKE IT IN */
	filter: sepia(75%) hue-rotate(75deg) contrast(110%) saturate(130%);
}

.hero-text-container{
	position: relative;
	z-index: 1;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.2rem;

	background: white;

	background:
		linear-gradient(
			10deg,
			rgb(83, 83, 83, 0.2),
			rgb(220, 220, 220),
			rgb(255, 255, 255)
		),
		url("../assets/noise.svg");

	
	padding: 0.3rem 0.75rem;
	/* padding-left: 5rem; */
	
	mix-blend-mode: difference;

	border-right: 5px solid rgb(127, 127, 127);
	border-bottom: 5px solid rgb(74, 74, 74);
	box-shadow: -5px 5px #2a2a2a;

}

.hero-text-container::after{
	content: "";
	position: absolute;
	z-index: 3;
	top: -0.5rem;
	right: 0.35rem;
	width: 81.5%;
	height: 100%;
	background-color: rgb(255, 255, 255);
	mix-blend-mode: difference;
	pointer-events: none;
}

.hero-text{
	position: relative;
	z-index: 2;
	color: black;
	text-align: left;
	letter-spacing: 0.05em;
	text-shadow: -1px 1px 5px rgb(12, 35, 22);
	min-width: fit-content;
	line-height: 1.2;
}

.hero-text-title {
	font-size: 3rem;
	font-weight: 700;
}


.hero-text-subtitle {
	font-size: 1.5rem;
	font-weight: 400;
	width: 100%;
	text-align: right;
}

.hero-text-inverse{
	background-color: black;
	color: white;
	padding: 0.1rem 0.3rem;
}

.glitched-asset{
	position: absolute;
	inset: 0;
	z-index: 0;

	width: 100%;
	height: 100%;
	
	object-fit: cover;
	object-position: center center;
}

.glitched-asset-container{
	opacity: 0.75;
}


@media (max-width: 60rem) {

	.hero-text-container{
		padding: 0.1rem 0.3rem;

		border-right: 3px solid rgb(127, 127, 127);
		border-bottom: 3px solid rgb(74, 74, 74);
	}

	.hero-text-container::after{
		top: -0.25rem;
		right: 0.25rem;
		width: 81.5%;
		height: 100%;
	}

	.hero {
		aspect-ratio: 5 / 3;
		padding-left: 0.5rem;
	}

	.hero-text-title {
		font-size: 1.25rem;
	}

	.hero-text-subtitle {
		font-size: 0.8rem;
	}
}